# Build Folders
bin/
obj/
out/


# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide
*.vssscc
*.vsix
*.nupkg
*.slnx

# Rider
.idea/

# Visual Studio Code
.vscode/
.history/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Logs
*.log

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini
*.DS_Store

# Swap / Editor temp files
*.swp
*.tmp
*.bak

# GitHub Actions / CI
.github/workflows/.cache/
.github/workflows/_temp/

# Secrets / local configs
appsettings.Local.json
*.local.*