*{
    margin: 0px;
    font-size: 0px;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --vermelho : #FF004C;
    --preto-claro: #221C2D;
    --pretp: #0B0616
    --branco: #FFFFFF;
    --cinza: #D6D2E6;
    --roxo: #7A3BFF

}