# Build Folders
bin/
obj/
out/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.sln.ide
*.vssscc
*.vsix
*.nupkg

# Rider
.idea/

# Visual Studio Code
.vscode/

# NuGet
*.nupkg
packages/
*.snupkg

# Logs
*.log

# OS Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Others
*.DS_Store
*.swp