#main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(red, blue);
    width: 100%;
}

#main img{
    height: 10vh;
}

#main div{
    display: flex;
    gap: 50px;
    text-decoration: none;
    color: var(--branco);
}